{% extends 'base.html' %}

{% block body_block %}

<body>
    <div class="x-body">
        <form class="layui-form" id="Info">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    <input type="radio" name="role" lay-skin="primary" title="管理员" value="admin" />
                    <input type="radio" name="role" lay-skin="primary" title="教师" value="teacher" />
                    <input type="radio" name="role" lay-skin="primary" title="学生" value="student" />
                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" required="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="email" class="layui-form-label">
                    <span class="x-red"></span>邮件
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="email" name="email" required="" autocomplete="off" class="layui-input">
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes style="color: red;margin-top: 10px;margin-left: 50px;margin-bottom: 20px;">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>
        <div class="layui-form-item">
            <label for="edit" class="layui-form-label">
            </label>
            <button class="layui-btn" id='edit' name='edit' onclick="add_fn()">
                添加
            </button>
        </div>
    </div>
</body>
{% endblock %}
{% block  script_block %}
<script>

    function add_fn() {
        $.ajax({
            type: "post",
            url: "/user/user/add",
            data: $("#Info").serialize(),
            success: function (data) {
                if (data.code!="0"){
                    layer.msg('添加失败', { icon: 2 });
                    window.location.reload();
                }
                else {
                    layer.msg('添加成功', { icon: 1 });
                }
            }
        });
    }

</script>
{% endblock %}